 body{
 /* background-color: #2596be; */
 user-select: none;
 cursor: pointer; 
}
#guessing
{
   width: 100%;
   height:  100vh;
   /* background-color: blue; */
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.guess-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    background-color: azure;
}
.guess-box .movie_header{
    font-size: 30px;
   border-bottom: 10px solid red;
   padding: 15px 15px 0px 15px;
    margin: 0px 20px 0px 20px ;
}
.sunbmit-btn
{
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: green;
    color: #fff;
    padding: 15px;
    width: 10%;
    font-size: 18px;
    letter-spacing: 2px;
}
.a-to-z
{
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    margin-top: 25px;
    /* background-color: burlywood; */
   
}

.pig-word
{
    display: flex;
    width: 25%;
    font-size: 25px;
    justify-content: space-evenly;
    /* background-color: #ff3333; */
}

.color
{
    color:green;
}
.a-to-z .abcd{
    background-color:black;
    width: 4%;
    text-align: center;
    padding: 10px;
    margin: 20px 25px 10px 25px ;
}
.word-head .header
{
    font-size: 25px;
}
.word-head
{
    /* background-color: blueviolet; */
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
/* .bolly-head
{
    background-color: cadetblue;
    text-align: center;
} */
.blur
{
    color: #ff3333;
}

.bolly-head
{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    width: 80%;
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    /* color: #ffff; */
    justify-content: space-evenly;
    margin: 25px 40px 0px 0px ;

}
.disable
{
    pointer-events: none;
    background-color: grey;
    opacity: 0.3;
}
.chances_left
{
    /* margin-top: 58px; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}
